
/* .chatbox__support {
    transform: translateY(-40px);
    display: flex;
    flex-direction: column;
} */

/* MESSAGES */
/* .chatbox__messages {
    margin-top: auto;
    display: flex; */
    /* overflow-y: scroll; */
    /* flex-direction: column-reverse;
    padding: 0 20px;
} */
.messages__item {
    margin: 0;
    margin-right: auto;
    /* white-space: nowrap;
    overflow: hidden;
    animation: type 5s steps(50, end), caret-blink .8s ease infinite;
    border-right: 10px solid greenyellow; */
}
.message__typing {
    white-space: nowrap;
    overflow: hidden;
    animation: type 5s steps(50, end), caret-blink .8s ease infinite;
    border-right: 10px solid greenyellow;
}
.chatbox__input {
    margin: 0;
    margin-right: auto;
    white-space: nowrap;
    overflow: hidden;
    animation: caret-blink .8s ease infinite;
    border-right: 10px solid greenyellow;
}

@keyframes type {
    0% {
        width: 0;
    }
    100% {
        width: 100;
    }
}

@keyframes caret-blink {
    0% {
        border-color: transparent;
    }
    50% {
        border-color: greenyellow;
    }
    100% {
        border-color: transparent;
    }
}