
.chatbox__messages {
    display: flex;
    flex-direction: column;
}

.messages__item {
    display: inline-block;
    min-width: 0ch;
    width:fit-content;
    word-break: break-all;
}

.caret {
    border-right: 10px solid greenyellow;
    animation: caret-blink .8s ease infinite;
}

@keyframes caret-blink {
    0% {
        border-color: transparent;
    }
    50% {
        border-color: greenyellow;
    }
    100% {
        border-color: transparent;
    }
}