
/* .chatbox__support {
    transform: translateY(-40px);
    display: flex;
    flex-direction: column;
} */

/* MESSAGES */
/* .chatbox__messages {
    margin-top: auto;
    display: flex; */
    /* overflow-y: scroll; */
    /* flex-direction: column-reverse;
    padding: 0 20px;
} */
.messages__item {
    /* margin: 0; */
    /* margin-right: auto; */
    /* float: left; */
    min-width: 0px;
    overflow: hidden;
    /* display: inline-block; */
    width:fit-content;
}

.caret {
    border-right: 10px solid greenyellow;
    animation: caret-blink .8s ease infinite;
}

@keyframes caret-blink {
    0% {
        border-color: transparent;
    }
    50% {
        border-color: greenyellow;
    }
    100% {
        border-color: transparent;
    }
}