@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

#screen {
  position: relative;
  height: 100vh;
  width: 100vw;
}

#scan, #bezel {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}

#scan {
  opacity: 70%;
}

#logo {
  position: absolute;
  top: 5%;
  left: 4%;
  height: 15vh;
  width: 15vw;
}

/* CSS Variables */
:root {
  --normal-font: 400;
  --bold-font: 600;
  --bolder-font: 900;
  --primary-color: #0652dd;
  --secondary-color: #ea2027;
  --line-height: 1.7rem;
  --transition: 0.4s ease-in;
}

/* Smooth scroll effect */
html {
  scroll-behavior: smooth;
}

body {
  font-weight: 400;
  font-size: 100%;
  overflow: hidden;
  height: 100%;
}

.logo {
  position: absolute;
  top: 1%;
  left: 1%;
  height: 25vh;
  width: 25vw;
}

@media (max-width: 1000px) {
  .hidden-small {
    display: none;
  }
  .chatbox__button {
    display: flex !important;
  }
  .chatbox {
    top: 17vh !important;
    left: 3% !important;
  }
  .chatbox__support{
    height: 75vh !important;
    width: 93vw !important;
  }
  .chatbox__heading--header {
    font-size: 3vw !important;
  }
  .chatbox__messages {
    font-size: 2.5vw !important;
}
  .chatbox__footer {
    font-size: 2.5vw !important;
  }
  .send__button {
    font-size: 2.5vw !important;
  }
}

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: var(--transition);
  font-family: 'Courier New', monospace;  
}