@import url("https://fonts.googleapis.com/css2?family=Texturina:ital,opsz,wght@0,12..72,100;0,12..72,200;0,12..72,300;0,12..72,400;0,12..72,500;0,12..72,600;0,12..72,700;0,12..72,800;0,12..72,900;1,12..72,100;1,12..72,200;1,12..72,300;1,12..72,400;1,12..72,500;1,12..72,600;1,12..72,700;1,12..72,800;1,12..72,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
}

@layer utilities {
  .tc-px {
    @apply px-10 laptop:px-[15vw];
  }
  .logo-small {
    @apply h-20 w-auto laptop:h-24;
  }
  .logo-medium {
    @apply h-14 w-auto laptop:h-24;
  }
  .avatar-card-small {
    @apply h-auto w-4/5;
  }
  .avatar-card-medium {
    @apply h-auto w-11/12;
  }
  .icon {
    @apply h-7 w-7 laptop:h-10 laptop:w-10;
  }
  .title {
    @apply mb-8 block text-2xl font-black uppercase text-tc_sand-900 max-laptop:text-center laptop:mb-12 laptop:text-4xl;
  }
  .subtitle {
    @apply mb-6 text-xl font-bold max-laptop:text-center laptop:mb-10 laptop:text-3xl;
  }
  .section-title {
    @apply mb-6 text-xs uppercase underline laptop:mb-8 laptop:text-base;
  }
  .btn-polygon {
    --notchSize: 0.8rem;
    clip-path: polygon(
      0% var(--notchSize),
      var(--notchSize) 0%,
      calc(100% - var(--notchSize)) 0%,
      100% var(--notchSize),
      100% calc(100% - var(--notchSize)),
      calc(100% - var(--notchSize)) 100%,
      var(--notchSize) 100%,
      0% calc(100% - var(--notchSize))
    );
  }
}
