:root {
  font-family: $default-font;
  font-size: $default-font-size;
  line-height: $default-line-height;
  font-weight: $default-font-weight;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: $forest-3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: inherit;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
body::-webkit-scrollbar {
  width: 0;
}
body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.561);
  width: 0;
}
body::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

#app {
  min-width: 100vw;
  min-height: 100vh;
  text-align: left;
  background-color: $forest-3;
}

/* ========= Typography =========== */

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* ========= Components =========== */

button {
  border: none;
  padding: 0.6em 1.2em;
  font-size: $button-font-size;
  font-weight: $super-bold-font-weight;
  font-family: inherit;
  background-color: $sand-2;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: none;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* ========= Utils =========== */

.not-draggable-fig {
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none; 
  -khtml-user-select: none;
}

/* ========= Media =========== */

// add media to adjust font-size for different screens

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
