:root {
  font-family: 'Texturina';
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  font-family: inherit;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
body::-webkit-scrollbar {
  width: 0;
}
body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.561);
  width: 0;
}
body::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* =========== */
/*    UTILS    */
/* =========== */

.not-draggable-fig {
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none; 
  -khtml-user-select: none;
}

/* ====================== */
/*     APP.VUE CONFIGS    */
/* ====================== */

#app {
  min-width: 100vw;
  min-height: 100vh;
  max-width: 1280px;
  text-align: left;
  background: url('./assets/home_screen/terra-cognita_background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* Navbar */
#navbar {
  background-color: transparent;
  padding-top: 2vh;
  padding-right: 4vw;
  padding-left: 2vw;
  margin-bottom: 2vh;
}
#nav-logo-img {
  max-height: 100% !important;
}
.navbar-item {
  align-items: flex-start;
  margin: 1rem;
  width: 10rem;
}
.nav-button span {
  color: black;
}
#burger {
  background-color: transparent;
}
#burger span {
  color: rgba(45, 140, 195);
}
/* Footer */
#footer {
  background-color: rgba(128, 128, 128, 0.246);
  font-size: 1rem;
  position: fixed;
  bottom: 0;
  min-width: 100vw;
  padding: 0.5rem;
  padding-right: 2rem;
}
#footer strong {
  color: rgba(245, 245, 245, 0.384);
}
#footer-logo-cardano-img {
  width:8em;
  height:auto;
  opacity: 0.3;
}

#main-view {
  padding: 12rem 2rem 5rem;
}
#router-view {
  padding: 1rem;
  background-color: rgba(74, 179, 238, 0.7);
  box-shadow: 4px 6px 4px 0px rgba(0, 0, 0, 0.35);
  max-height: calc(100vh - 15rem - 5rem); /* #main-view top&bottom padding*/
  overflow-y: auto;
  scrollbar-width: thin;
}
#router-view::-webkit-scrollbar {
  width: 1vmin;
}
#router-view::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(74, 178, 238);
  border-radius: 10px;
}
#router-view::-webkit-scrollbar-thumb {
  background: rgba(43, 122, 168, 0.719);
  border-radius: 10px;
}
#chatbox-view {
  margin: 0 2rem;
  padding: 0 1rem;
  display:flex;
  flex-direction:column;
  justify-content:space-between
}

/* App Responsiveness */
@media only screen and (max-width: 800px) {
  :root {
    font-size: 12px;
    line-height: 18px;
  }
  #app {
    background-attachment: initial;
  }
  #nav-logo-img {
    max-height: 100% !important;
    width: 30vw;
    height: auto;
  }
  #footer {
    font-size: 0.8rem !important;
    padding-right: 1rem;
  }
  #footer-logo-cardano-img {
    width:6em;
    height:auto;
    opacity: 0.3;
  }
  #main-view {
    padding: 10rem 0rem 5rem;
  }
  #router-view {
    margin: 0 2rem;
    padding: 1rem;
    background-color: rgba(245, 245, 245, 0.37);
  }
  #router-view::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(245, 245, 245, 0.808);
  }
  #router-view::-webkit-scrollbar-thumb {
    background: rgba(187, 186, 186, 0.753);
  }
}