@import "bulma/sass/utilities/_all";
@import "./variables.scss";

// Set your colors
$primary: rgba(45, 140, 195, 0.8);
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
  (
    "sand-1": (
      $sand-1,
      $sand-1,
    ),
    "sand-2": (
      $sand-2,
      $sand-2,
    ),
    "sand-3": (
      $sand-3,
      $sand-3,
    ),
    "earth-1": (
      $earth-1,
      $earth-1,
    ),
    "earth-2": (
      $earth-2,
      $earth-2,
    ),
    "earth-3": (
      $earth-3,
      $earth-3,
    ),
    "forest-1": (
      $forest-1,
      $forest-1,
    ),
    "forest-2": (
      $forest-2,
      $forest-2,
    ),
    "forest-3": (
      $forest-3,
      $forest-3,
    ),
    "sky-1": (
      $sky-1,
      $sky-1,
    ),
    "sky-2": (
      $sky-2,
      $sky-2,
    ),
    "sky-3": (
      $sky-3,
      $sky-3,
    ),
    "sky-4": (
      $sky-4,
      $sky-4,
    ),
    "sky-5": (
      $sky-5,
      $sky-5,
    ),
    "magic-sand": (
      $magic-sand,
      $magic-sand,
    ),
    "magic-earth": (
      $magic-earth,
      $magic-earth,
    ),
    "magic-forest": (
      $magic-forest,
      $magic-forest,
    ),
    "magic-sky": (
      $magic-sky,
      $magic-sky,
    ),
    "white": (
        $white,
        $black,
    ),
    "black": (
        $black,
        $white,
    ),
    "light": (
        $light,
        $light-invert,
    ),
    "dark": (
        $dark,
        $dark-invert,
    ),
    "primary": (
        $primary,
        $primary-invert,
        $primary-light,
        $primary-dark,
    ),
    "link": (
        $link,
        $link-invert,
        $link-light,
        $link-dark,
    ),
    "info": (
        $info,
        $info-invert,
        $info-light,
        $info-dark,
    ),
    "success": (
        $success,
        $success-invert,
        $success-light,
        $success-dark,
    ),
    "warning": (
        $warning,
        $warning-invert,
        $warning-light,
        $warning-dark,
    ),
    "danger": (
        $danger,
        $danger-invert,
        $danger-light,
        $danger-dark,
    ),
  ),
  $custom-colors
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

@import "bulma/bulma";
@import 'bulma-floating-button/dist/css/bulma-floating-button.min.css';
@import '@oruga-ui/theme-bulma/dist/scss/bulma';
@import '@oruga-ui/oruga-next/dist/oruga-full-vars.css';
// @import '@oruga-ui/oruga-next/src/scss/oruga-full-vars';