@import "./variables.scss";

.tc-title {
  font-family: inherit;
  font-size: $title-font-size;
  color: $sand-3;
  text-transform: uppercase;
  font-weight: $super-bold-font-weight;
  text-shadow: $title-font-shadowing $sand-3;
  margin: $margin-title;
  padding: 0;
}

.tc-subtitle {
  font-family: inherit;
  font-size: $subtitle-font-size;
  color: white;
  font-weight: $bold-font-weight;
  margin: $margin-subtitle;
  padding: 0;
}

.tc-smalltitle {
  font-family: inherit;
  font-size: $small-font-size;
  color: white;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: inherit;
  margin: $margin-smalltitle;
  padding: 0;
}

.tc-text {
  font-family: inherit;
  font-size: inherit;
  color: white;
  font-weight: inherit;
  margin: $margin-text;
  padding: 0;
}

.tc-smalltext {
  font-family: inherit;
  font-size: $small-font-size;
  color: white;
  font-weight: inherit;
  margin: $margin-smalltext;
  padding: 0;
}

button.tc-button {
  font-size: $button-font-size;
  color: $earth-2;
  font-weight: $super-bold-font-weight;
  text-transform: uppercase;
  background-color: $sand-2;
  width: $button-default-width;
  border: none;
  margin: $margin-button;
  --notchSize: 0.8rem;
  clip-path: 
    polygon(
      0% var(--notchSize), 
      var(--notchSize) 0%, 
      calc(100% - var(--notchSize)) 0%, 
      100% var(--notchSize), 
      100% calc(100% - var(--notchSize)), 
      calc(100% - var(--notchSize)) 100%, 
      var(--notchSize) 100%, 
      0% calc(100% - var(--notchSize))
    );
}
button.tc-button:hover {
  color: $earth-2;
  opacity: 0.8;
}

// Text formatting

.text-magic-sand {
  color: $magic-sand !important;
}

.title-white {
  color: white !important;
  text-shadow: $title-font-shadowing white;
}

.is-uppercase {
  text-transform: uppercase;
}

.is-bold {
  font-weight: bold;
}
