
//  colors
$sand-1: #FDF9F2;
$sand-2: #FFF1D9;
$sand-3: #FCD88A;
$earth-1: #BB8141;
$earth-2: #9A3707;
$earth-3: #8C111D;
$forest-1: #F1EFDB;
$forest-2: #6D662D;
$forest-3: #34390B;
$sky-1: #F0F6FB;
$sky-2: #B6D2EB;
$sky-3: #6595CB;
$sky-4: #264487;
$sky-5: #132244;
$magic-sand: #E7FF00;
$magic-earth: #FC4957;
$magic-forest: #3BFF65;
$magic-sky: #15FFFF;